<h1 style="color: darkkhaki">Ejemplos Caching</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Caching" asp-action="MemoriaDistribuida">Memoria distribuida</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Caching" asp-action="MemoriaPersonalizada">Memoria personalizada</a>
    </li>

</ul>